<head><style>
    body 
    {background-color: #4285F4;}
    </style>
  </head>
<body>
 <h2>meet me halfway</h2>
<!--  <img src="run2.png">
 --> <%= @warning%>
<p> 
<%= render 'form', meet_me: @meet_me %>

<h7><%= link_to 'Back', meet_mes_path %></h7>
</body>
