
<body>
 <h1>M E E T &nbsp; M E &nbsp; H A L F &nbsp; W A Y</h1>
.......................................................................
 <%= @warning%>
<p> 
<%= render 'form', meet_me: @meet_me %>

<h7><%= link_to 'Back', meet_mes_path %></h7>
</body>
