<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

<body>
 <font size='15'>MEET ME HALFWAY</font>
 <%= @warning %>
<p>
<%= render 'form', meet_me: @meet_me %>
</body>
