<head>
    <link href="https://fonts.googleapis.com/css?family=Assistant:200|Cutive+Mono|Inconsolata" rel="stylesheet">
    <style>
      body {
        font-family: 'Cutive Mono', monospace;
        font-size: 15px;
      }
    </style>
  </head>
<body>
 <h1>MEET ME HALFWAY</h1>
.......................................................................
 <%= @warning%>
<p> 
<%= render 'form', meet_me: @meet_me %>

<h7><%= link_to 'Back', meet_mes_path %></h7>
</body>
