/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

      
body {
	padding-top: 100px;
	text-align: center;
    margin: auto;
    width: 50%;
    color:#FFFFFF;
    background-image: url("sky.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color:#C7D6E1; 
	font-family: 'Cutive Mono', monospace;

}
/*#32415A*/

h6 {
    font-size: 1em;
    color:#FFFFFF;
    font-family: 'Inconsolata', monospace;
}

h7 {
    font-size: 1em;
    color:#FFFFFF;
    font-family: Andale Mono
}

#submit {
    background-color: #1A3A6D;
    font-size: 1em;
    font-family: Andale Mono;
    border-radius:5px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border:none;
}



#submit:hover {
    border: none;
    color:#1A3A6D ;
    background:#Ffffff;
    box-shadow: 0px 0px 1px #777;
}