body {
	padding-top: 100px;
	text-align: center;
    margin: auto;
    width: 50%;
    color:#FFFFFF;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color:#FF5252;
	font-family: 'Inconsolata', monospace!important;

}
/*#32415A*/

h6 {
    font-size: 1em;
    color:#FFFFFF;
}

h7 {
    font-size: 1em;
    color:#FFFFFF;
}


#submit {
    font-size: 1em;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    border:none;
    background-color: transparent;
}



#submit:hover {
    border: none;
    color:#000000 ;
}
